@charset 'UTF-8';

@use "../settings.scss" as *;

.ActionMenu {
  &-list {
    width: 200px;
  }

  &-item {
    padding: 0.25rem 0.5rem;
    cursor: pointer;

    &:hover {
      background: #e2e0e6;
    }
    &.ActionMenu-disabled {
      color: #ccc;
      cursor: default;
      &:hover {
        background: none;
      }
    }
  }
}
