
@charset 'UTF-8';

@import "../settings.scss";

.MenuButton {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.25rem;

  &-button {
    width: 100%;
    background: transparent;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 4px #00000030;
  }

  &-content {
    position: absolute;
    right: 0;
    background: white;
    border-radius: 4px;
    min-width: 100%;
    overflow: hidden;
    opacity: 0.9;
    box-shadow: 0 2px 3px #00000020;

    // 開閉アニメーション
    transition: top 0.1s, opacity 0.1s;
    &.MenuButton-content-enter {
      top: 1rem;
      opacity: 0;
      pointer-events: none;
    }
    &.MenuButton-content-enter-active {
      top: 1.2rem;
      opacity: 1;
    }
    &.MenuButton-content-enter-done {
      top: 1.2rem;
      opacity: 1;
    }
    &.MenuButton-content-exit {
      top: 1.2rem;
      opacity: 1;
    }
    &.MenuButton-content-exit-active {
      top: 1rem;
      opacity: 0;
    }
    &.MenuButton-content-exit-done {
      top: 1rem;
      opacity: 0;
    }
  }

  &-item {
    padding: 0.25rem 0.5rem;
    cursor: pointer;

    &:hover {
      background: #e2e0e6;
    }
    &.MenuButton-disabled {
      color: #ccc;
      cursor: default;
      &:hover {
        background: none;
      }
    }
  }
}
