@charset 'UTF-8';

@import "./settings.scss";
@import "./reset.css";

/* Global Style */
body {
  font-size: 10px;
  background: linear-gradient(155deg, $color-bg-start 0%, $color-bg-end 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

// ウィンドウ移動用のハンドル
body,
.window-undraggable {
  -webkit-app-region: no-drag;
}
.window-draggable {
  -webkit-app-region: drag;
}

// ラジオボタンの色変更
[type="radio"]:checked + span:after {
  border-color: slategray !important;
  background-color: slategray !important;
}

.App {
  height: 100vh;
  background-attachment: fixed;

  .App-texture {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: url("./images/texture.jpg");
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.4;
    opacity: 0;
  }
}
